<h1>File Upload test</h1>
<form action="/profile/upload" method="POST" enctype="multipart/form-data">
  <label>Upload a Picture</label>
  <input type="file" name="profile_pic" />
  <br />
  <button type="submit" class="btn btn-success">Upload</button>
</form>